$black: #000000;
$background: #f4f4f4;
$white: #ffffff;
$blue: #00ADE0;
$gray: #515151;
$lightgray: #d9d9d9;
$textburg: #adecff;
$eventsbeck: #e9e9e9;
$eventtext: #afafaf;

// Breakpoint

$desktop-bp-2200: 2200px;
$desktop-bp-1280: 1280px;
$desktop-bp-1200: 1200px;
$desktop-bp-992: 992px;
$tablets-bp-768: 768px;
$mobile-bp-660: 660px;
$mobile-bp-576: 576px;
$mobile-bp-480: 480px;
$mobile-bp-380: 380px;
$mobile-bp-375: 375px;